<h4 style="text-align: center;">NOTEBOOK</h4>
<p style="text-align: center; font-style: italic">~~ TRAINING AI MODEL ~~</p>
</br>

<p style="text-align: justify; margin-left: 80px; margin-right: 80px;">
Ce notebook a pour objectif de regrouper les différents modèles d'architecture d'intelligence artificiel pour la détection des glyphes cunéiformes.</p>

</br>

<h3 style="text-align: justify; margin-left: 40px; margin-right: 80px;">
<b>Sommaire</b>
</h3>

<span style="margin-left: 80px;">- 1</span></br>
<span style="margin-left: 80px;">- 2</span></br>
<span style="margin-left: 80px;">- 3</span></br>

</br>

---
</br>

In [33]:
import dagshub
import mlflow
import pandas as pd
import psycopg2

# - Import Personal Library
import sys
sys.path.append("../docker/postgres/script/")   # - config
sys.path.append("../utils/")   # - db_data_fetch

import config as cfg
import db_data_fetch as dbdf

In [26]:
CONFIG = cfg.get_db_config()

## Get data from database (bbox and images)

In [27]:
SPLIT_SET = ['train', 'test']

df_train = pd.DataFrame()
df_test = pd.DataFrame()

In [28]:
## - Fetch Data Bbox Annotation
for param in SPLIT_SET:
    result = dbdf.fetch_data_bbox_annotation(param)
    if param == 'train':
        df_train = result
    elif param == 'test':
        df_test = result

In [30]:
df_train.head(10)
# df_test.head(10)

,tablet_CDLI,bbox_segment,bbox_glyph,mzl_number,train_label
0,K08396,"[406, 83, 1360, 1046]","[504, 655, 572, 704]",252,80.0
1,K08396,"[406, 83, 1360, 1046]","[829, 443, 890, 488]",252,80.0
2,K08396,"[406, 83, 1360, 1046]","[323, 662, 386, 709]",737,100.0
3,K08396,"[406, 83, 1360, 1046]","[755, 490, 814, 538]",252,80.0
4,K08396,"[406, 83, 1360, 1046]","[715, 342, 786, 381]",736,77.0
5,K08396,"[406, 83, 1360, 1046]","[625, 461, 697, 503]",737,100.0
6,K08396,"[406, 83, 1360, 1046]","[722, 534, 784, 578]",812,82.0
7,K08396,"[406, 83, 1360, 1046]","[821, 637, 897, 682]",260,84.0
8,K08396,"[406, 83, 1360, 1046]","[411, 694, 490, 741]",490,30.0
9,K08396,"[406, 83, 1360, 1046]","[717, 414, 784, 463]",86,48.0

In [35]:
## - Fetch Data Image
train_images = pd.DataFrame()
test_images = pd.DataFrame()

for param in SPLIT_SET:
    result = dbdf.fetch_image(param)
    if param == 'train':
        train_images = result
    elif param == 'test':
        test_images = result

AttributeError: module 'db_data_fetch' has no attribute 'fetch_image'