<h4 style="text-align: center;">NOTEBOOK</h4>
<p style="text-align: center; font-style: italic">~~ TRAINING AI MODEL ~~</p>
</br>

<p style="text-align: justify; margin-left: 80px; margin-right: 80px;">
Ce notebook a pour objectif de regrouper les différents modèles d'architecture d'intelligence artificiel pour la détection des glyphes cunéiformes.</p>

</br>

<h3 style="text-align: justify; margin-left: 40px; margin-right: 80px;">
<b>Sommaire</b>
</h3>

<span style="margin-left: 80px;">- 1</span></br>
<span style="margin-left: 80px;">- 2</span></br>
<span style="margin-left: 80px;">- 3</span></br>

</br>

---
</br>

In [26]:
import dagshub
import mlflow
import pandas as pd

# - Import Personal Library
import sys
sys.path.append("../utils/")                    # - db_data_fetch

import db_data_fetch as dbdf

## Get data from database (bbox and images)

In [27]:
SPLIT_SET = ['train', 'test']

df_train = pd.DataFrame()
df_test = pd.DataFrame()

In [28]:
## - Fetch Data Bbox Annotation
for param in SPLIT_SET:
    result = dbdf.fetch_data_bbox_annotation(param)

    if param == 'train':
        df_train = result
    elif param == 'test':
        df_test = result

In [29]:
df_train.head(10)
# df_test.head(10)

,tablet_CDLI,bbox_segment,bbox_glyph,mzl_number,train_label
0,P334894,"[640, 1919, 1397, 3280]","[165, 60, 231, 136]",839,11
1,P334894,"[640, 1919, 1397, 3280]","[220, 69, 341, 130]",110,4
2,P334894,"[640, 1919, 1397, 3280]","[171, 137, 308, 214]",18,210
3,P334894,"[640, 1919, 1397, 3280]","[287, 140, 406, 212]",24,58
4,P334894,"[640, 1919, 1397, 3280]","[164, 217, 268, 301]",812,82
5,P334894,"[640, 1919, 1397, 3280]","[238, 228, 284, 281]",661,16
6,P334894,"[640, 1919, 1397, 3280]","[277, 210, 407, 287]",736,77
7,P334894,"[640, 1919, 1397, 3280]","[256, 296, 407, 384]",266,119
8,P334894,"[640, 1919, 1397, 3280]","[162, 383, 238, 460]",839,11
9,P334894,"[640, 1919, 1397, 3280]","[211, 387, 322, 463]",248,5

In [30]:
train_images = pd.DataFrame()
test_images = pd.DataFrame()

In [31]:
## - Fetch Data Image
for param in SPLIT_SET:
    result = dbdf.fetch_image(param)

    if param == 'train':
        train_images = result
    elif param == 'test':
        test_images = result

Failed : syntax error at or near "."
LINE 4:                 tr.picture
                          ^

Failed : syntax error at or near "."
LINE 4:                 tr.picture
                          ^